.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 29px 0 0;
  position: relative;
  transition: opacity .3s ;
}

.profile__image-edit {
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url(../../../images/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

.profile__image:hover {
  opacity: .3;
  cursor: pointer;
}

.profile__image:hover + .profile__image-edit {
  opacity: 1;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
